body {
    margin: 0;
    padding: 0;

    background-color: white;
}
a {
    text-decoration: none;
}
.Container {
    margin: 10% 20% 0 20%;
    height: 80%;
    width: 80%;
    position: absolute;

}
.logo {
    height: 20%;
    margin: 2em 0 0 32%;
    font-size: 40px;
    position: relative;
}

.searchbar textarea {
    border: 1px solid gray;
    border-radius: 2em;
    margin: 1em 0 2em 20%;
    height: 2.2em;
    width: 40%;
    position: relative;
    font-size: 16px;
}

.grid {
    width: 25%;
    margin: 0 auto;
    margin-right: 47%;
}

.grid header,
.grid article {
    background-color: rgb(241, 241, 241);
}


/*Grid*/

.grid {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    font-size: 10px;
}
.Border{
    border: 1px solid lightgray;
    border-radius: 0.5em;
    text-align: center;
    cursor: pointer;
}
.grid header {
    grid-column-start: 1;
    grid-column-end: 2;

}
.grid article:nth-of-type(1) {
    background-color: rgb(241, 241, 241);
}

.grid article:nth-of-type(1) {
    order: 1;
}
.grid article:nth-of-type(2) {
    order: 4;
}

.Impressum{
    border: solid gray 1px;
    height: 12%;
    background-color: lightgray;
    position: fixed;
    margin-top: 44%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;

    font-size: 10px;
}

.Impressum header{
    grid-column-start: 1;
    grid-column-end: 3; 
}

.Impressum article:nth-of-type(1) {
    order: 1;
}
.Impressum article:nth-of-type(2) {
    order: 2;
}
.Impressum article:nth-of-type(3) {
    order: 3;
}
