body {
  font-family: "quicksand";
  --dark: #222;
  background-color: var(--dark);
}

.container {
  padding: 0 1em;

  display: flex;
  flex-direction: column;
}

.ml {
  margin-right: 1em;
}

.header-main {
  padding: 0.25em 0;
}

.header-main__title,
.header-main__subtitle {
  margin: 0.125em 0;
  color: lightblue;
}

.ad {
  height: 60%;
  position: fixed;
  overflow: hidden;
  left: -17%;
  box-shadow: -77px 96px 29px -75px rgba(0, 0, 0, 0.6);
}

.x {
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: -0.1 em;
  left: 23em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.x::after {
  content: "X";
  color: gray;
}
.x:hover {
  background-color: white;
  transition: 0.25s;
  cursor: pointer;
}

.content-main__news-wrapper {
  margin-top: 1em;
  border-top: 0.1em solid turquoise;
  position: relative;
}

.news-wrapper__label {
  position: absolute;
  top: calc(-1.3em + 1ex - 0.85em);
  padding-right: 0.5em;
  color: #999;
  background-color: var(--dark);
}


.content-main__news {
  margin-top: 5em;
  margin-right: 0.5em;
  border-bottom: 0.1em solid turquoise;
  color: turquoise;
}

.content-main__news img {
  width: 100%;
  height: 100%;
}

.content-main__news::after {
  content: "";

  display: block;
  width: 50%;
}

.content-main__news p {
  text-align: justify;
  /*H1: activate Word Break*/
  word-break: break-all;
  color: lightgray;
}

.content-main__news .news__links {
  margin: auto;
  margin-right: 0;
}

.subscribe {
  background-color: turquoise;
  width: 10%;
  padding: 0 10em 0 5em;
  border: 1px solid white;
}

/* adaptive SD 768px*/

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

/* adaptive MD 992px*/
@media (min-width: 992px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .x {
    visibility: hidden;
  }

  .ad {
    margin-left: -1em;
  }
}

/* adaptive BD 1200px*/
@media (min-width: 1200px) {
  .content-main__news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content-main__news h2 {
    width: 100%;
  }

  .content-main__news-wrapper .content-main__news picture {
    width: 66%;
  }
  .content-main__news-wrapper .content-main__news div {
    width: calc(34% - 1em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content-main__news-wrapper .content-main__news::after {
    /*width: auto;*/
  }

  .content-main > .content-main__news {
    width: calc(50% - 0.5em);
    float: left;
  }
  .ad {
    margin-left: 15em;
  }

}
