body,ul 
{margin: 0;padding: 0;font-family: sans-serif; font-size: 18px;line-height: 20px}

ul
{list-style: none}

a
{text-decoration: none; color: #fff}

/*Styling*/
body 
{background-color: #222}

#navbar 
{background-color: #556; padding: 0 2.6%;text-align: center; height: 100%;}

#navbar ul
{display: inline-block;vertical-align: middle;}

#navbar li
{display: inline-block;vertical-align: middle;}

#navbar li a
{color: white; padding: 37px 18px; display: block;}

#navbar .nav-brand
{}

#navbar .nav-brand .image
{padding: 9px;}

#navbar .nav-main
{margin-left: 0 15.5%}

#navar .nav-main .phone
{font-weight: bold; padding: 37px 48px;}

#navbar .nav-user
{}

