body{
    font-family: Arial, Helvetica, sans-serif;
    
}

* {
    line-height: 1.25em;
}

a{
    text-decoration: none;
}

    .container{
        width: 80%;
        margin: 5% auto;
    }

        .product section{
            margin: 1.75em 0;

        }

            .product section h2{
                margin: .5em 0;
                color: #111;
                font-weight: bold;
                font-size: 1.5em;
            }

                .product section p{
                    margin: 0.5em 0;
                    color: #555;
                }

.product .fadeout{
    position: relative;
}

.product .fadeout::before{
    content: "";
    display: block;
    background-image: linear-gradient(
        transparent,white
    );

    position: absolute;
    width: 100%;
    height: 100%;
}

.product .callforaction{
    font-size: 1.5em;
    color: #222;
}

    .product .callforaction a{
        display: inline-block;
        background-color: darkorange;
        color: white;
        padding: .5em 1em;
        margin-left: 0.5em;
    }


/*MODAL*/

#modal{
    
            background-color: #000B;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            
           
    
}

    #modal:target{
        animation: fadein 0.35s;
        animation-fill-mode: forwards;
    }

        #modal .window{
            position: absolute;

            width: 80%;
            height: 80%;
            background-color: white;
            top: 10%;
            left: 10%;

            box-shadow: 0 0 0.5em 0.15em #222;
        }

@keyframes fadein{
    0%{
        left: -100%;
        opacity: 0;
    }
        0.1%{
        left: 0%;
        opacity: 0;
        }
            100%{
                left: 0%;
                opacity: 1;
            }
}
/*Register Form*/
.window .form{
    margin-left: 2em;
    
    transform: translateX(250px) translateY(150px);
}
    .window legend{
        font-size: 1.2em;
        font-weight: bold;
        margin: 0.5em 1em;
        padding-top: 0.2em;
        transform: translateX(-5px);
    }
        .window .register{
        /* border: .2em solid #3339;*/
            background-color: rgba(221, 221, 221, 0.301);
            
            font-size: 1.5em;
            height: 20em;
            width: 55%;
        }
        
            .margin{
                margin: 1em;
                margin-bottom: 2em;
            }

                .window .textfield{
                    
                    display: inline block;
                    /*border: 0.2em #3339 solid;*/
                    height: 20em;
                    width: 20%;
                    transform: translateX(325px) translateY(-470px);
                }

                    .window input{
                        border: 2px solid gray;
                        box-shadow: 0 0 1em 0.2em #3339;
                        margin-top: 1em;
                        width: 90%;
                        height: 10%;
                        transform: translateY(20px);
                    }

                        .window .btn{
                            border: 1px black solid;
                            font-size: 1.5em;
                            margin-left: .7em;
                            padding: .5em;
                            height: 7%;
                            width: 3.4em;
                            
                            background-color: orangered;
                            border-radius: 15px;
                            
                        }
                            .window a{
                                text-decoration: none;
                                color: white;
                            }