:root{
/*Palette*/
    /*color: #BF8E97;
    color: #BFB688;*/
    --Falcon: #eb6464;    
    --BaliHai: #3595aa;
    --LinkWater: #a2bec7;
    --Dark: #222;
    --Darkblue: rgba(0, 0, 53, 0.13);
/*Length*/
    --spacer: .5rem;
    --img_k: 13;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

.app{
    
    color: var(--Dark);
    width: 100vw;
    height: 100vh;
}

.app header{
    height: 10vh;
    padding: var(--spacer);
}

.app .list{
    height: 80vh;
    overflow: auto;
}

.app .list ul{
    height: inherit;
    overflow: auto;
    scroll-snap-type: mandatory;
}

    .app .list li{
        display: table;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid lightgray;
        height: calc(90vh /6);
        /*margin: calc(-2*var(--spacer));*/
        scroll-snap-align: start;
    }
    .app .list li:last-child{
        border: 0;
    }

    .app .list li>div{
        display: table-cell;
        vertical-align: top;
        padding: var(--spacer);
        
    }

    .app .list li .avatar,
    .app .list li .info{
        width: 20%;
    }

    .app .list li .info{
        text-align: right;
        padding-top: 1.9em;
    }


    .app .list li .avatar img{
        width: calc(var(--img_k)*var(--spacer));
    }
.app footer{
    height: 10vh;
    padding: var(--spacer);
}




@media(orientation: landscape) and (max-height:420px){

    .app header h1{
        font-size: 1.5rem;
    }
}