body{
    background-color: #222;
   /* padding: 10%;*/

/*1vw = 1%Viewport*/
    width: 100vw;  
    height: 100vw;
    box-sizing: border-box;
}
.app{
    background-color: var(--Darkblue);
}
.app header,
.app footer{
    background-color: var(--Dark)
}

.app .list li .info{
    color: var(--LinkWater)
}

.app .list .content h3{
    color: var(--BaliHai)
}
.app .list .content p{
    color: var(--Falcon)
}

.app .list{
    background-color: var(--Darkblue)
}


