body{
    background-color: #222;
   /* padding: 10%;*/

/*1vw = 1%Viewport*/
    width: 100vw;  
    height: 100vw;
    box-sizing: border-box;
}

.app header{
    background-color: lightblue;
}

.app .list{
    background-color: black;
}

.app .list li>div{
    background-color: white;
    
}

.app footer{
    background-color: lightblue;
}
