body {
  padding: 0;
  margin: 0;
    font-family: sans-serif;
  --navbar-h: 3.15em;
  --spacer: 1em;
}

* {
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}

a {
    text-decoration: none;
}

.Main-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

    .navbar,
    .sidebar, 
    .dashboard {
        padding: var(--spacer);
    }

    .row {
        display: flex;
        flex-grow: 100;
    }

        .sidebar {
            padding: calc(var(--spacer)*2);
            flex-shrink: 3;
        }

        .dashboard {
            padding: var(--spacer);
            flex-shrink: 1;
            flex-grow: 50;

            display: flex;
        }
            .dashboard .sections {
                display: flex;
                flex-grow: 50;
                margin: calc(var(--spacer)*2.5);
            }

            .dashboard .sections section {
                border: 1px dashed white;
                padding: var(--spacer);

                overflow: hidden;
            }



            .dashboard .sections section:first-child{
                width: 60%;
            }

            .dashboard .sections section:first-child div {
                height: 100%;
            }

            .dashboard .sections section:first-child{
                margin-right: 1em;
            }

            /*.owl-fix{
                position: absolute;
                width: 100%;
                display: block;
            }

            .owl-fix .slick-slide{
                width: 100% !important;
            }*/

            .dashboard .owl-carousel{
                overflow: hidden;
            }

            
            .dashboard .owl-carousel img {
                height: 100%;
                object-fit: contain;
            }

            .dashboard .owl-carousel .owl-drag .owl-item{
                /*width: 100% !important;*/
            }

/* DYNAMIC */

#sidebar .extender {
    display: none;

}

#sidebar:target .extender {
    display: inline;
}
